### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Locally stored "Eclipse launch configurations"
*.launch

# Dump file
*.stackdump

target/
/server/db/
hs_err_pid*
dependency-reduced-pom.xml
node_modules/
pom.xml.versionsBackup
