.nodePageTransition-enter.pageTransitionAnimated {
	transform: translateX(100%);
	position: absolute;
}

.nodePageTransition-enter-active.pageTransitionAnimated {
	transform: translateX(0%);
	transition: transform 1000ms ease;
}

.nodePageTransition-enter-done.pageTransitionAnimated {
	position: static;
}

.nodePageTransition-exit.pageTransitionAnimated {
	transform: translateX(0%);
	position: absolute;
}

.nodePageTransition-exit-active.pageTransitionAnimated {
	transform: translateX(100%);
	transition: transform 1000ms ease;
}



.nodePageTransition-enter.pageTransitionNotAnimated {
	position: absolute;
}

.nodePageTransition-enter-done.pageTransitionNotAnimated {
	position: static;
}

.nodePageTransition-exit.pageTransitionNotAnimated {
	position: absolute;
}